<section class="jumbotron text-center main" ng-if="!main.loggedIn">
      <div class="container">
        <h1 class="jumbotron-heading">Social Block</h1>
        <p class="lead text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, quam vitae, etc. Ut vel risus tincidunt justo molestie consectetur vitae sed erat. Sed vestibulum nunc sed tortor faucibus tempor</p>
        <br>
        <p>
          <a href="/login" class="btn btn-primary">Connexion</a>
          <a href="/signup" class="btn btn-secondary">Inscription</a>
        </p>
      </div>
</section>

<div class="container user-posts" ng-if="main.loggedIn">
<div class="row post" ng-repeat="post in post.posts">
  <div class="col-2">
    <img src="http://placehold.it/70x70" class="rounded" alt="...">
  </div>
  <div class="col">
    <h6>Nom prenom</h6>
    <br>
    <p> {{post.content}} </p>
    <div class="row post-actions">
      <ul>
        <li><a class="text-danger" href="">Liker</a></li>
        <li><a href="">Commenter</a></li>
      </ul>
    </div>
  </div>
</div>
</div>
