<!-- <div class="row col-sm-6 col-sm-offset-3">
  <div class="text-center">

    <h1>Se connecter</h1>

    <form class="form-horizontal" ng-submit="login.doLogin()">



      <div class="form-group">

        <div class="col-sm-12">
          <input ng-model="login.loginData.username" type="text" class="form-control"  placeholder="Entrez votre identifiant">
        </div>
      </div>



      <div class="form-group">

        <div class="col-sm-12">
          <input ng-model="login.loginData.password" type="password" class="form-control" placeholder="Entrez votre mot de passe">
        </div>
      </div>


      <div class="form-group">
        <div class="col-sm-12">
          <button type="submit" class="btn btn-primary btn-block">Se connecter</button>
        </div>
      </div>

      <div class="alert alert-danger" ng-if="login.error">
        {{login.error}}
      </div>

    </form>
  </div>
</div> -->

<div class="container signin">

      <form class="form-signin" _lpchecked="1" ng-submit="login.doLogin()">
        <div class="card-signin">
        <h2 class="form-signin-heading">Se connecter</h2>
        <br>
        <label for="inputUsername" class="sr-only">Identifiant</label>
        <input ng-model="login.loginData.username" type="text" class="form-control" placeholder="Identifiant" required="" autofocus="">
        <br>
        <label for="inputPassword" class="sr-only">Mot de passe</label>
        <input ng-model="login.loginData.password" type="password" class="form-control" placeholder="Mot de passe" required="">
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <div class="alert alert-danger" ng-if="login.error">
          {{login.error}}
        </div>
        </div>
      </form>

</div>
