<div class="row col-sm-6 col-sm-offset-3">
  <div class="text-center">

    <h1>Se connecter</h1>

    <form class="form-horizontal" ng-submit="login.doLogin()">

      <!-- Champ de l'indentifiant -->

      <div class="form-group">
        <!-- <label class="control-label col-sm-2" for="email">Identifiant:</label> -->
        <div class="col-sm-12">
          <input ng-model="login.loginData.username" type="text" class="form-control"  placeholder="Entrez votre identifiant">
        </div>
      </div>

      <!-- Champ de l'indentifiant -->

      <div class="form-group">
        <!-- <label class="control-label col-sm-2" for="pwd">Mot de passe:</label> -->
        <div class="col-sm-12">
          <input ng-model="login.loginData.password" type="password" class="form-control" placeholder="Entrez votre mot de passe">
        </div>
      </div>

      <!-- Envoyer -->

      <div class="form-group">
        <div class="col-sm-12">
          <button type="submit" class="btn btn-primary btn-block">Se connecter</button>
        </div>
      </div>

      <div class="alert alert-danger" ng-if="login.error">
        {{login.error}}
      </div>

    </form>
  </div>
</div>
