<div class="container signup">

      <form class="form-signin" _lpchecked="1" ng-submit="user.saveUser()">
        <div class="card-signin">
        <h2 class="form-signin-heading">S'inscrire</h2>
        <br>
        <label for="inputUsername" class="sr-only">Identifiant</label>
        <input ng-model="user.userData.userName" type="text" class="form-control" placeholder="Identifiant" required="" autofocus="">
        <br>
        <label for="inputFirstname" class="sr-only">Prénom</label>
        <input ng-model="user.userData.firstName" type="text" class="form-control" placeholder="Prénom" required="" autofocus="">
        <br>
        <label for="inputLastname" class="sr-only">Nom</label>
        <input ng-model="user.userData.lastName" type="text" class="form-control" placeholder="Nom" required="" autofocus="">
        <br>
        <label for="inputPassword" class="sr-only">Mot de passe</label>
        <input ng-model="user.userData.password" type="password" class="form-control" placeholder="Mot de passe" required="">
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">S'inscrire</button>
        <div class="alert alert-info" ng-show="user.message">
          {{ user.message }}
        </div>
        </div>
      </form>

</div>
