<div class="container users-list">
  <div class="card user-card" ng-repeat="person in user.users">
    <h3 class="card-header">{{ person.userName }}</h3>
    <div class="card-block">
      <h4 class="card-title">{{ person.firstName }} {{ person.lastName }}</h4>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent scelerisque suscipit magna nec congue.</p>
      <a ng-href="/users/{{ person._id }}" class="btn btn-primary"><span>Voir le profil</span></a>
    </div>
  </div>
</div>
