<!-- <div>
  <p>{{user.user.userName}}</p>
</div> -->

<div class="container-fluid">
  <div class="row profil-header align-items-center bg-yellow text-white">
    <div class="col-2"></div>
    <div class="col profil-card">
      <div class="row ">
        <div class="col-3 text-center">
          <img src="http://placehold.it/150x150" class="rounded-circle" alt="...">
        </div>
        <div class="col">
          <h3>{{user.user.firstName}} {{user.user.lastName}}   <span class="edit-btn"><a ng-href="/edit/{{ user.user._id }}"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</a></span> </h4>

          <p><i class="fa fa-map-marker" aria-hidden="true"></i> Paris</p>
          <p><i class="fa fa-envelope" aria-hidden="true"></i></i> exemple@gmail.com</p>
          <!-- <ul class='text-center'>
            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
          </ul> -->
          <div class="profil-description">
            <p >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin a auctor neque. Proin id quam vitae dolor ornare suscipit. In pulvinar luctus tincidunt.</p>

          </div>

              <div class="row profil-stats align-items-center text-center">
                <div class="col profil-stats-items">
                  <h4><a href=""><i class="fa fa-cube" aria-hidden="true"></i> 80</a></h4>
                </div>
                <div class="col profil-stats-items">
                  <h4><a href=""><i class="fa fa-heart" aria-hidden="true"></i> 152</a></h4>
                </div>
                <div class="col profil-stats-items">
                  <h4><a href=""><i class="fa fa-commenting" aria-hidden="true"></i> 12</a></h4>
                </div>
                <div class="col profil-stats-items">
                  <h4><a ng-href="/friends/{{ user.user._id }}"><i class="fa fa-users" aria-hidden="true"></i> 45</a></h4>
                </div>
              </div>


        </div>
      </div>




    </div>
    <div class="col-2"></div>
  </div> <!-- Fin de profil-header -->
  <!-- <div class="row profil-stats bg-primary text-white">
    <div class="col-3">
    </div>
    <div class="col">
      <div class="row">
        <div class="col">
          <h4>80</h4>
          <p>posts</p>
        </div>
        <div class="col">
          <h4>152</h4>
          <p>likes</p>
        </div>
        <div class="col">
          <h4>12</h4>
          <p>commentaires</p>
        </div>
        <div class="col">
          <h4>45</h4>
          <p><a ng-href="/friends/{{ user.user._id }}">amis</a></p>
        </div>
      </div>
    </div>
    <div class="col-3">
    </div>
  </div> -->
  <div class="container user-posts">

  <div class="row post" ng-repeat="post in user.postUser">
    <div class="col-2">
      <img src="http://placehold.it/70x70" class="rounded-circle" alt="...">
    </div>
    <div class="col">
      <h6>{{post.userFirstName}} {{post.userLastName}}</h6>
      <br>
      <p>{{post.content}}</p>
      <div class="row post-actions">
        <ul>
          <li><a class="text-danger" href=""><i class="fa fa-heart-o" aria-hidden="true"> {{post.likes.length}}</i></a></li>
          <li><a href="" ng-click="user.showComment(post._id)"><i class="fa fa-commenting-o" aria-hidden="true"></i> {{post.comments.length}} commentaire(s)</a></li>
        </ul>
      </div>
    </div>

    <div class="col-12 comment-group" ng-if="post.commentClicked">
      <form>
        <div class="form-group comment-action">
          <input ng-model="onePost.postComment" type="text" class="form-control comment-form"  placeholder="Votre commentaire" required="">
          <a href="" class="btn btn-primary comment-button" ng-click="post.updateComment(onePost._id, main.user, onePost.postComment)"><i class="fa fa-commenting-o" aria-hidden="true"></i> Commenter</a>
        </div>
      </form>
      <div class="comment-list">
        <ul class="list-group">
          <li ng-repeat="comment in onePost.comments track by $index" class="list-group-item">
            <div class="row comment-profil">
            <div class="col-2">
              <img src="http://placehold.it/50x50">
            </div>
            <div class="col-10">
              <h6></h6>
              <br />
              <p></p>
            </div>
          </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>
